@model Assignment.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@Model.ProductName</h3>
            </div>
        </div>
        <div class="row ">
            <div class=" col-sm-4">
                <img src="~/images/@Model.ProductImage" class="img-thumbnail border-0" alt="@Model.ProductName">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a class="w-100 btn btn-success text-white fw-bold text-decoration-none" asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>
                </div>
                <div class="btn btn-secondary mt-5">
                    <img src="~/images/icon/arrow-left-circle-fill.svg">
                    <a asp-action="Index" class="text-decoration-none fw-bold text-white">Back to List</a>
                </div>
            </div>
            <div class="col-sm-8">
                <div>
                    <p>
                        @Model.ProductDescription
                    </p>
                    <div class="info-table table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td>ID: </td>
                                    <td class="fw-bold">@Model.ProductId</td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td class="fw-bold">@Model.ProductName</td>
                                </tr> 
                                <tr>
                                    <td>Category:</td>
                                    <td class="fw-bold">@Model.Category.CategoryName</td>
                                </tr>
                                <tr>
                                    <td>Quantity:</td>
                                    <td class="fw-bold">@Model.ProductQuantity</td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td class="fw-bold">@Model.ProductPrice</td>
                                </tr>
                                <tr>
                                    <td>Brand:</td>
                                    <td class="fw-bold">@Model.Brand.BrandName</td>
                                </tr>
                                <tr>
                                    <td>Screen:</td>
                                    <td class="fw-bold">@Model.ProductScreen</td>
                                </tr>
                                <tr>
                                    <td>Platform:</td>
                                    <td class="fw-bold">@Model.ProductPlatform</td>
                                </tr>
                                <tr>
                                    <td>Camera:</td>
                                    <td class="fw-bold">@Model.ProductCamera</td>
                                </tr>
                                <tr>
                                    <td>Chip:</td>
                                    <td class="fw-bold">@Model.ProductChip</td>
                                </tr>
                                <tr>
                                    <td>Ram:</td>
                                    <td class="fw-bold">@Model.ProductRam</td>
                                </tr>
                                <tr>
                                    <td>Storage:</td>
                                    <td class="fw-bold">@Model.ProductStorage</td>
                                </tr>
                                <tr>
                                    <td>Battery:</td>
                                    <td class="fw-bold">@Model.ProductBattery</td>
                                </tr>
                                <tr>
                                    <td>Color:</td>
                                    <td class="fw-bold">@Model.ProductColor</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

